{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block content %}
    <div class="row category">
        <ul>
            <li>菜品分类： </li>
            {% for cate in cates %}
                <li class="cate-item">{{ cate.name }}</li>
            {% endfor %}

            <div class="clearfix"></div>
        </ul>
    </div>
    <div id="foods-list">
        <ul>
            {% for foods in foods_list %}



            <li>
                <dl>
                    <dt>
                        <img width="140" height="160" src="/static/media/{{ foods.image }}">
                    </dt>
                    <dd>{{ foods.name }}</dd>
                    <dd>{{ foods.category.name }}- ￥{{ foods.price }} </dd>
                    <dd><button class="btn btn-success" onclick="qbuy({{ foods.id }}, this)">抢购</button></dd>
                </dl>
            </li>
            {% endfor %}

            <div class="clearfix"></div>
        </ul>

    </div>
{% endblock %}
{% block js %}
<script>
   id_ = 0  // 定时器的ID
   function qbuy(foods_id, btn) {
       url = '/qbuy/'+foods_id+'/';
       $.getJSON(url, function (data) {
           if(data.code == 0){
               if(confirm('是否转入登录页面')){
                   // 在当前页签下打开登录页面
                   window.open('/login/', target='_self');
               }
           }else{
               // code == 100
               btn.innerHTML = data.msg;

               // 每隔一秒钟发起一次抢购结果的查询
               id_ = setInterval(function () {
                   $.getJSON('/query_qbuy/'+foods_id+'/', function (d) {
                        btn.innerHTML = d.msg;
                        if(d.code != 100){
                            clearInterval(id_)  // 取消定时器
                        }
                   })
               }, 1000)
           }
       })
   }

</script>

{% endblock %}